<%= erb :'users/_navbar' %>
<div class="container" id="home">
  <h1>Hello, <%= @user.name %></h1>
  <p>These are your flashcard decks</p>
  <div id="all_decks">
    <table>
      <th>Deck</th><th>Category</th>
      <% @user.decks.each do |deck| %>
        <tr>
          <td><a href="/decks/<%=deck.id%>"><%= deck.title %></a></td>
          <td><%= deck.category.topic %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<a href="/"><button>Go to decks</button></a>
