<%= erb :'users/_navbar' %>

<div class="container">
  <h1 id="show_deck">Deck: <%= @deck.title %></h1>
  <% if @deck.users.include?(@user) %>
    <a href="/decks/<%=@deck.id%>/edit"><div id="edit">+</div></a>
  <% end %>

  <a href="/decks/<%=@deck.id%>"><button id="next">Give me a flashcard!</button></a>

  <div class="card"><%= erb :'flashcards/show' %></div>
</div>
